.cardList {
    list-style-type: none;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media screen and (max-width: 1024px) {
    .cardList {
        grid-gap: 16px;
    }
}
